body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}

.form h2 {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit{
    background-color: #007bff;
    color: #fff;
    /* color: black; */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit:hover {
    background-color: #0056b3;
}

/* table{
    display: none;
} */
.table_container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    
}


table {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    display: none;
}
.tables2{
    margin-left: 100px;
    margin-top: 25px;
}


th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;

}

th {
    background-color: #f4f4f4;
}


.container_sum{
    display: flex;
    margin-left: 400px;
   
}

.total2{
    margin-left: 300px;
    
}

#hi1{
    display: none;
}

#hi2{
    display: none;
}
